body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
#hero {
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.900)), url(images/donation3.jpg) no-repeat center / cover;
    color: white;
}
.container {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
}
.container .info h1 {
    margin-top: 20rem;
    font-size: 50px;
    margin-bottom: 1rem;
    text-align: center;
}

.container .info p {
    font-size: 1.2rem;
    text-align: center;
}
.link-button{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    position: absolute;
    left: 40%;
}   
/* donate today */

#donate{
    text-align: center;
    font-size: 40px;
}
#parag{
    text-align: center;
    font-size: 18px;
    color: gray;
}
.main {
    margin-left: 200px;
}

.plan{
    margin-left: 200px;
}

.card-1{
    width: 10%;
    padding: 15px;
    display: inline-block;
    border-radius: 5px;
    margin: 20px;
    background-color: rgb(225, 219, 219);
    text-align: center;
}
#box-2 {
    background-color: rgb(248, 222, 226);
    border: 2px solid rgb(246, 189, 198);
}

#h1{
    text-align: center;
    font-size: 40px;
}

.field-group{
    width: 600px;
    padding-left: 300px;
    position: relative;
    padding-top: 15px;
}
.input-field{
    text-align: center;
    width: 100%;
    outline: 0;
    border: 0;
    border-bottom: 2px solid #999999;
    padding: 10px 0;
    background: transparent;
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
}

.button{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    position: absolute;
    left: 40%;
}

.donation-plan{
    margin-top: 100px;
}
.card {
    width: 20%;
    padding: 40px;
    display: inline-block;
    border-radius: 5px;
    margin: 10px;
}

#food {
    background-color: rgb(208, 208, 250);
}

#shelter {
    background-color: rgb(248, 222, 226);
}

#education {
    background-color: antiquewhite;
}

.title {

    text-align: center;
    padding: 10px;
}

.title img {
    margin-left: 0px;

}

h1 {
    font-size: 20px;
}


.text {
    margin: 10px;
    max-width: 100%;
}

.text h1 {
    font-size: 40px;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}

.text p {
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
    color: gray;
}

.form {
    transform: translate(70%, 50%);
    width: 500px;
    text-align: center;
    background-color: rgb(248, 222, 226);
    padding: 40px;
    margin-bottom: 100px;
}
.form input{
    font-size: 18px;
    width: 50%;
    border: none;
    padding: 15px 20px;
    margin-right: 10px;
    outline: none;
    background: white;
}
.form button{
    color: white;
    margin-left: 0px;
    font-size: 18px;
    text-transform: lowercase;
    border: none;
    padding: 15px 20px;
    background: rgb(235, 124, 104);
}


.footer {
    background-color: black;
    width: 100%;
    height: 20%;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.footer h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: tomato;
}
.footer p{
    text-align: center;
    color: white;
}
